.temp {
  font-size: 8rem;
  margin-bottom: 6rem;
  color: black;
}

.upper {
  text-transform: capitalize;
  font-size: 3rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../assets/bright.jpg") no-repeat center;
}

.location {
  margin-top: 3rem;
  font-size: 1.2rem;
}
